.plate {
    background-color: #F3F5F7;
    position: relative;
    padding-bottom: 55%;
    &__content {
        position: absolute;
        left: 32px;
        right: 32px;
        bottom: 40px;
    }
    &__title {
        margin-bottom: 12px;
        h3 {
            font-size: 34px;
            line-height: 1.1;
            font-weight: 500;
            color: #121212;
        }
    }
    &__link {
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: -0.03em;
            color: #121212;
            border-bottom: 1px solid #121212;
            img {
                margin-top: 5px;
            }
        }
    }
    &--toll {
        grid-row: 1 / 3;
    }
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &--01 {
        background-image: url(./../img/colliction/01.jpg);
    }
    &--02 {
        background-image: url(./../img/colliction/02.jpg);
    }
    &--03 {
        background-image: url(./../img/colliction/03.jpg);
    }
}